body {
  font-family: 'Anton', sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  margin: 0;
  min-height: 100vh;
}

.card {
  background-color: #d24a4a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}